[Unit]
Description= nas 管理

[Service]
EnvironmentFile=-/opt/nastoys/.env
ExecStart=java -jar /opt/nastoys/nasToys.jar
WorkingDirectory=/opt/nastoys
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target